CONFIG_ARM=y
CONFIG_ARCH_MX6=y
CONFIG_TARGET_MX6Q_UAVX_37i00=y
CONFIG_SYS_EXTRA_OPTIONS="IMX_CONFIG=board/uavx/mx6q_pop/ddr_1G.cfg,MX6Q,MX6DQ_POP_LPDDR2,LPDDR2_1G,DDR_MB=512,DDR_SIZE=SZ_1G"
#CONFIG_SYS_EXTRA_OPTIONS="IMX_CONFIG=board/uavx/mx6q_pop/ddr_512M.cfg,MX6Q,MX6DQ_POP_LPDDR2,LPDDR2_512MB,DDR_MB=512,DDR_SIZE=SZ_512M"
CONFIG_SPI_FLASH=y
CONFIG_CMD_GPIO=y
CONFIG_SYS_PROMPT="UAVX U-Boot> "

